@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Meddon');

body {
    font-family: "Muli", sans-serif;
}

.title {
    font-family: "Meddon", cursive;
    font-size: 6em;
}

h1 {
    font-family: "Meddon", cursive;
    text-align: center;
    margin-bottom: 30px;
}

.paral {
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

hr {
    background-color: #000;
}

.paralsec {
    background-image: url("../src/images/image1.png");
    height: 600px;
}

.desc {
    color: darkred;
    border: 2px solid #b91515;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.title2 {
    font-family: "Muli", sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}

.thumb {
    width: 75%;
    height: auto;
    border: 1px solid transparent;
    outline: 1px solid #fff;
    outline-offset: -10px;
    display: block;
    margin: auto;
}

.info {
    margin-top: 20px;
}

button {
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    transition: all .3s ease-in;
    width: 150px;
    height: 75px;
    font-size: 30px;
    border: 1px solid #fff;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.bounce-up .jumbotron {
    opacity: 0;
    transition: all 700ms ease-out;
    transform: translateY(200px);
    backface-visibility: hidden;
}

.bounce-up.in-view .jumbotron {
    opacity: 1;
    transform: translateY(0px);
}

/* ----------------- */

*{
    padding: 0;
    margin: 0;
}
.body{
	position: relative;
	background-color:#fff;
	overflow: hidden;
}

/* ----------------- */
*{outline:0px  solid #fff;}
:root{
  --size:360px;
}
body{
  background:#000;
  padding:0;
  margin:0;
}
.perspective{
  perspective:1000px;
  perspective-origin:center;
  display: grid;
  place-items:center;
  height:100vh;
  overflow:hidden;
  position:relative;
}
.content-div{
   transform-origin: center;
  transform-style: preserve-3d;
  z-index:10;
  font-size: 10rem;
  text-transform:uppercase;
  font-family: "Dancing Script", cursive;
  color:#b91515;
  text-shadow:0px 0px 10px #000;
  pointer-events:none;
}
.img-cylinder{
  position:absolute;

  animation: animate 30s linear infinite;

  transform-origin: center;
  transform-style: preserve-3d;
  width:100%;
  height:100%;
  translate:0 -100%;
 
  
}
.image{
  position:absolute;
  left:50%;
  transform-origin: center;
  transform-style: preserve-3d;
  border-radius:10px;
  translate:-50%;
  --deg:18;
  //animation: deg 60s linear infinite alternate;
 transform: 
    rotateY(calc(var(--i) * calc(var(--deg) * 1deg))) 
    translatey(calc(calc(var(--i) / calc(1.11 * var(--deg))) * calc(var(--deg) * 5.83%))) 
    translateZ(calc(var(--size) * -3.3));
  /* added negetive translate Z to make backface into frontface and make it hidden*/
  
  transition:all .2s ease;
  width:var(--size);
  height:var(--size);
  background-image:var(--url);
  background-size:cover;
  background-attachment:fixed;
 
 backface-visibility:hidden;
}
@keyframes animate {
  0% {
    rotate: y 0deg;
  }
  100% {
    rotate: y 360deg;
  }
}
@keyframes deg {
  0% {
     
    transform: 
    rotateY(calc(var(--i) * calc(28 * 1deg))) 
    translatey(calc(calc(var(--i) / calc(1.11 * 28)) * calc(28 * 5.83%))) 
    translateZ(calc(var(--size) * -3.3));
  }
  100% {
     
    transform: 
    rotateY(calc(var(--i) * calc(18 * 1deg))) 
    translatey(calc(calc(var(--i) / calc(1.11 * 18)) * calc(18 * 5.83%))) 
    translateZ(calc(var(--size) * -3.3));
  }
}


/* 222222222222222222222222222222222222222222222222222222222222222222 */

.slideshow{
  margin: 0 auto;
  padding-top: 50px;
  height: 450px;
  background: antiquewhite;
  perspective: 1000px;
}
.content{
  margin: auto;
  width: 150px;
  perspective: 1000px;
  position:relative;
  padding-top: 80px;
  transform-style: preserve-3d;
}
.slider-content{
  width: 100%;
  position:absolute;
  float:right;
  animation: rotate 15s infinite linear;
  transform-style: preserve-3d;
}
.slider-content:hover{
  cursor: pointer;
  animation-play-state: paused;
}

.slider-content figure{
  width:180px;
  height:120px;
  border:1px solid #555;
  overflow:hidden;
  position:absolute;
}
.slider-content figure:nth-child(1){
  transform:rotateY(0deg) translateZ(300px);
}

.slider-content figure:nth-child(2){
  transform:rotateY(40deg) translateZ(300px);
}
.slider-content figure:nth-child(3){
  transform:rotateY(80deg) translateZ(300px);
}
.slider-content figure:nth-child(4){
  transform:rotateY(120deg) translateZ(300px);
}
.slider-content figure:nth-child(5){
  transform:rotateY(160deg) translateZ(300px);
}
.slider-content figure:nth-child(6){
  transform:rotateY(200deg) translateZ(300px);
}
.slider-content figure:nth-child(7){
  transform:rotateY(240deg) translateZ(300px);
}
.slider-content figure:nth-child(8){
  transform:rotateY(280deg) translateZ(300px);
}
.slider-content figure:nth-child(9){
  transform:rotateY(320deg) translateZ(300px);
}

.shadow{
  position: absolute;
  box-shadow: 0px 0px 0px #000;
 
}
.slider-content img{
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}
.slider-content img:hover{
  transform: scale(1.2);
  transition: all 300ms;
 
}

@keyframes rotate {
  from{
    transform: rotateY(0deg);
  }
  to{
      transform: rotateY(360deg);
  }
}

